<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISessionManagement" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://clerkbase.hosted.panopto.com/Panopto/PublicAPI/4.6/SessionManagement.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManagement" contract="Panopto.Session.ISessionManagement" name="BasicHttpBinding_ISessionManagement" />
    </client>
  </system.serviceModel>
</configuration>