<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Infrastructure.Properties.Settings>
            <setting name="Infrastructure_AgendaService_StorageService" serializeAs="String">
                <value>http://agenda.mytestserver.com/AgendaServices.asmx</value>
            </setting>
        </Infrastructure.Properties.Settings>
    </applicationSettings>
</configuration>