<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OGV2P.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OGV2P.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OGV2P.Admin.Properties.Settings>
      <setting name="PanoptoPassword" serializeAs="String">
        <value>seri502/dupe</value>
      </setting>
      <setting name="PanoptoRecorderServiceName" serializeAs="String">
        <value>PanoptoRemoteRecorderService</value>
      </setting>
      <setting name="PanoptoUploadService" serializeAs="String">
        <value>PanoptoRecorderService</value>
      </setting>
    </OGV2P.Admin.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <OGV2P.Admin.Properties.Settings>
      <setting name="RecorderInternalID" serializeAs="String">
        <value>284226f3-9990-4054-bbdb-e8d299c4a003</value>
      </setting>
      <setting name="FolderID" serializeAs="String">
        <value>bd9254c2-9f11-4322-a8fd-9d0dc1627f0d</value>
      </setting>
      <setting name="PanoptoUserID" serializeAs="String">
        <value>barkley</value>
      </setting>
    </OGV2P.Admin.Properties.Settings>
  </applicationSettings>
</configuration>